/* Fonts */
@font-face {
    font-family: Data-Control;
    src: url(/fonts/data-latin.ttf);
}
@font-face {
    font-family: DTM;
    src: url(/fonts/DTM-Mono.otf);
}
@font-face {
    font-family: Eight-Bit-Maddness;
    src: url(/fonts/Eight-Bit-Madness.ttf);
}
@font-face {
    font-family: F25-Executive;
    src: url(/fonts/F25_Executive.otf);
}
@font-face {
    font-family: Jomhuria;
    src: url(/fonts/Jomhuria-Regular.ttf);
}
@font-face {
    font-family: LemonMilk;
    src: url(../fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: Mermaid;
    src: url(/fonts/Mermaid1001.ttf);
}
@font-face {
    font-family: Atarian-System;
    src: url(../fonts/SF-Atarian-System.ttf);
}



body{
  	background-image: url('/images/general/BackgroundTile.png');
  	background-repeat: repeat;
 	 background-color: white;
}

h1{
    font-family: Jomhuria;
    font-size: 80px;
    margin-bottom: -10px;
    text-align: center;
}

/* Navbar */
.nav-link {
    font-family: Jomhuria;
    font-size: 40px;
    letter-spacing: .6px;
    margin-bottom: -10px;
}
    .nav-link:hover {
        color: orangered;
    }

/* Buttons */
.btn {
    font-family: LemonMilk;
    color: white;
    padding: 5px;
    margin-left: 10px;
    background: none;
    border: none;
}
    .btn:hover {
        background: #a985ff;
    }

/* Games */
.game-preview {
    padding: 8px;
}
    .game-preview > a > img {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition:all .5s ease;
        transition: all .5s ease;
    }
    .game-preview > a:hover > img {
        transform: scale(1.04);
    }

/* Footer */
.fa-brands {
    font-size: 30px;
}
.footer-logo {
    width: 30px;
}