/* Displays */
.home-display {
    padding-top: 24px;
    padding-bottom: 24px;
}
    .home-display > div > h2 {
        font-family: Jomhuria;
        font-size: 60px;
        margin-bottom: -20px;
        text-align: center;
    }

/* video background */
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

body {
    position: fixed;
    left: 0;
    top: 25%;
    width: 100%;
}

.inner {
    max-width: 700px;
    background-color: #2b0a4c;
    padding: 20px;
}
    .inner > p {
        color: white;
    }
.lead {
    margin: 20px;
}

ul > li > a {
    color:#a985ff;
    font-size: 35px;
}