/* Displays */
.home-display {
    padding-top: 24px;
    padding-bottom: 24px;
}
    .home-display > div > h2 {
        font-family: Jomhuria;
        font-size: 60px;
        margin-bottom: -20px;
    }
