/* Displays */
.home-display {
    padding-top: 24px;
    padding-bottom: 24px;
}
    .home-display > div > h2 {
        font-family: Jomhuria;
        font-size: 60px;
        margin-bottom: -20px;
        text-align: center;
    }


    @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
    body{
      overflow-x: hidden;
      font-family: Roboto, sans-serif;
    }
    
    h1{
      background: rgba(0,0,0,0.5);
      padding: 10px;
    }
    
    .video-container{
      width: 100vw;
      height: 100vh;
    }
    
     iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    
    #text{
      position: absolute;
      color: #FFFFFF;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    @media (min-aspect-ratio: 16/9) {
      .video-container iframe {
        height: 56.25vw;
      }
    }
    @media (max-aspect-ratio: 16/9) {
      .video-container iframe {
        width: 177.78vh;
      }
    }
