@font-face {
    font-family: Jomhuria;
    src: url(/fonts/Jomhuria-Regular.ttf);
}

.nav-link {
    font-family: Jomhuria;
    font-size: 30px;
    letter-spacing: .6px;
}

.fa-brands {
    font-size: 30px;
}

.footer-logo {
    width: 30px;
}