/* Fonts */
@font-face {
    font-family: Jomhuria;
    src: url(/fonts/Jomhuria-Regular.ttf);
}

/* Navbar */
.nav-link {
    font-family: Jomhuria;
    font-size: 30px;
    letter-spacing: .6px;
}

/* Home Displays */
.home-display {
    padding-top: 24px;
    padding-bottom: 24px;
}
    .home-display > div > h2 {
        font-family: Jomhuria;
        font-size: 60px;
        margin-bottom: -20px;
    }

/* Home Games */
.home-games > div > div {
    padding: 8px;
}
    .home-games > div > div > a > img {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition:all .5s ease;
        transition: all .5s ease;
    }
    .home-games > div > div > a:hover > img {
        transform: scale(1.1);
    }

/* Footer */
.fa-brands {
    font-size: 30px;
}
.footer-logo {
    width: 30px;
}